<div class="container">
  <div class="row">
    <div class="user--container">
        <h3 class="user-name">{{user.node.name}}</h3>
        <div class="user-details--wrapper">
            <div class="user-image">
              <img [src]="user.node.avatarUrl" alt="" class="img-thumbnail rounded">
            </div>
            <div class="user-info">
              <p *ngIf="user.node.login">Login: {{user.node.login}}</p>
              <p *ngIf="user.node.email">Email: {{user.node.email}}</p>
              <p *ngIf="user.node.url">Github: <a target="_blank" [href]="user.node.url">{{user.node.url}}</a></p>
              <p *ngIf="user.node.websiteUrl !== 'null'">WWW: <a target="_blank" [href]="user.node.websiteUrl">{{user.node.websiteUrl}}</a></p>
            </div>
        </div>
    </div>
  </div>
</div>