.user--container
    display: flex
    flex-direction: column
    width: 100%

    .user-image
        img
            width: 20rem

    .user-details--wrapper
        display: flex
        flex-direction: row
        
        .user-info
            text-align: right
            flex: 1