.user
    display: flex
    flex-direction: row
    padding: 1rem

    .user-pic
        padding-right: 1rem
        img
            height: 5rem

    .user-info
        display: flex
        flex-direction: column

        p
            margin: 0

        .user-email
            font-size: 75%