<div class="user col-md-12" (click)="onUserSelected()">
  <div class="user-pic">
    <img [src]="user.node.avatarUrl" alt="{{user.node.name}} picture" class='rounded'>
  </div>
  <div class="user-info">
    <p class='user-name'>{{user.node.name}}</p>
    <p *ngIf="user.node.email !== ''" class='user-email'>{{user.node.email}}</p>
  </div>
</div>