.users-container
    padding: 2rem 0

.user-wrapper
    width: 100%

.user-container
    transition: all .2s ease-in-out
    border: 1px solid #ebebeb
    border-bottom-color: transparent

    &:last-child
        border-bottom: 1px solid #ebebeb

    &:hover
        box-shadow: 0 0 10px 1px rgba(0,0,0,.2)
        transform: scale(1.005)
        border-bottom-color: #ebebeb

.search-container
    padding: 1rem 0

@media (max-width: 480px)
    .user-container
        padding: 0