<div class="container">
    <div class="row">
        <div class="search-container mx-auto">
            <div class="input-group mb-3">
                <input [(ngModel)]="searchQuery"
                       (ngModelChange)="searchUsers($event)"
                       type="text" 
                       class="form-control" 
                       placeholder="Search..." 
                       aria-label="Search..." 
                       aria-describedby="button-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="resetSearch()" type="button" id="button-search">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="1000" 
                [(page)]="page"
                (pageChange)="onPageChange()" 
                [maxSize]="5" 
                [boundaryLinks]="true">
</ngb-pagination>
<div class="container users-container">
    <div *ngIf="users.length === 0">
        Loading users...
    </div>
    <div *ngIf="users.length > 0">
        <div *ngFor="let user of users" class="user-container row">
            <app-user class='user-wrapper' [user]="user" (selected)="onUserSelected($event)"></app-user>
        </div>
    </div>
</div>
<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="1000" 
                [(page)]="page"
                (pageChange)="onPageChange()" 
                [maxSize]="5" 
                [boundaryLinks]="true">
</ngb-pagination>